body {
    margin: 50px;
    overflow: scroll;
}

.page-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    width: 700px;
    top: 20px;

}

.card {
    margin-top: 15px;
}

.card-header {
    background-color: dodgerblue;
    color: white;
}